* {
    box-sizing: border-box;
}

div.header {
    padding: 10px;
    border: 2px solid rgb(4, 4, 95)
}

div.header li {
    padding: 10px;
    border: 2px solid rgb(247, 168, 21)
}

div.sidebar {
    padding: 10px;
    border: 2px solid rgb(247, 168, 21)
}

div.content {
    padding: 10px;
    border: 2px solid orange;
}